.img-circle {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

body{
    background-color: lightgrey;
}

#userName{
    text-align: center;
}

#desc{
    text-align: center;
    width: 200px;
    word-wrap: break-word;
}