.img-circle {
    border-radius: 50%;
    width: 250px;
    height: 200px;
}

body{
    background-color: lightgrey;
}

#userName{
    text-align: center;
}

#desc{

    width: 200px;
    word-break: break-all;
    white-space: nowrap;

}

