.img-circle {
    border-radius: 50%;
    width: 250px;
    height: 200px;
}

body{
    background-color: lightgrey;
}

#userName{
    text-align: center;
}

#desc{

    width: 350px;
    word-wrap: break-word;


}

